.main(layout='row')
  div
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
      .mdl-layout__drawer
        span.mdl-layout-title ETimeSheet
        hr
        nav.mdl-navigation
          p
            b User Management
          
          a.mdl-navigation__link(href='/employees') Manage Employees
          a.mdl-navigation__link(href='/organisations') Manage Organisation
          hr
          p
            b List Datamanagement
          hr
          a.mdl-navigation__link(href='/department') Manage Department
          a.mdl-navigation__link(href='/designation') Manage Designation
          a.mdl-navigation__link(href='/leave-request') View Leave Request
          a.mdl-navigation__link(href='/daily-logs') View Daily Logs
          a.mdl-navigation__link(href='/project') Add Projects
