.leaveRequest-detail(layout='row')
  div
   .sidebar(layout='column',  flex='stretch')
     h4 User DashBoard
     hr      
     a(href='/add-dailyLogs') Add Daily Logs
     a(href='/addleave') Add Leave Request
     hr
  span(flex='')
  div(layout='column')
    div(layout='row', layout-padding='')
      md-button(ng-href='/addleave')
        i.fa.fa-plus.fa-2x Add 
      h1 List of the leaveRequest
    
    table(padding='1px',border='1px',float='left',style="")
      thead
        tr
         th S.no
         th(ng-click="sortType = 'askDate'; sortReverse = !sortReverse")
          a(href='#') Requested Date
            i(class='fa fa-sort',style="float:right")
          span(ng-show="sortType == 'askDate' && !sortReverse")
          span(ng-show="sortType == 'askDate' && sortReverse")
         th(ng-click="sortType = 'user'; sortReverse = !sortReverse")
          a(href='#') Requested By
            i(class='fa fa-sort',style="float:right")
          span(ng-show="sortType == 'user' && !sortReverse")
          span(ng-show="sortType == 'user' && sortReverse")
          th(ng-click="sortType = 'user'; sortReverse = !sortReverse")
            a(href='#') Leave Name
              i(class='fa fa-sort',style="float:right")
            span(ng-show="sortType == 'user' && !sortReverse")
            span(ng-show="sortType == 'user' && sortReverse")
         th( ng-click="sortType = 'reason'; sortReverse = !sortReverse") 
          a(href='#') Reason
            i(class='fa fa-sort',style="float:right")
          span(ng-show="sortType == 'reason' && !sortReverse")
          span(ng-show="sortType == 'reason' && sortReverse")
         th(ng-click="sortType = 'startDate'; sortReverse = !sortReverse") 
          a(href='#') Start Date
            i(class='fa fa-sort',style="float:right")
          span(ng-show="sortType == 'startDate' && !sortReverse")
          span(ng-show="sortType == 'startDate' && sortReverse")
         th(ng-click="sortType = 'endDate'; sortReverse = !sortReverse")
          a(href='#')  End Date
            i(class='fa fa-sort',style="float:right")
          span(ng-show="sortType == 'endDate' && !sortReverse")
          span(ng-show="sortType == 'endDate' && sortReverse")
         

      tr(dir-paginate='leaveRequest in leaveRequest | itemsPerPage: perPage', total-items='leaveRequestCount.count',  current-page='page')
        td {{$index+1}} 
        td {{leaveRequest.askDate| date:'fullDate' }} 
        td {{leaveRequest.user}} 
        td {{leaveRequest.name }}
        td {{leaveRequest.reason }}
        td {{leaveRequest.startDate| date:'fullDate' }}
        td {{leaveRequest.endDate| date:'fullDate' }} 
        td {{leaveRequest.verified}}
        td
          button(ng-click='remove(leaveRequest._id)') Remove
  span(flex='')