control-Panel
.user-list(layout='row')
  span(flex='')
  div(layout='column')
    h1 User
    form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='')
      p Add a user
      md-input-container
        label Name
        input(ng-model='newUser.name', placeholder='Name')
      input.md-button(type='submit', value='Add')
    div(layout='row', layout-padding='')
      md-input-container(flex='65')
        label Search
        input(type='search', ng-model='search', placeholder='Search')
      md-select(ng-model='orderProperty', flex='35')
        md-option(value='1') Ascending
        md-option(value='-1') Descending

    ul
      li(dir-paginate='user in user | itemsPerPage: perPage', total-items='userCount.count',  current-page='page')
        p 
          a(href='/user/{{user._id}}') {{ user.name }}
          button(ng-click='remove(user)') &times;
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p Total number of user: {{userCount.count}}
  span(flex='')