.dailyLog(layout='row')
  div
   .sidebar(layout='column',  flex='stretch')
     h4 User DashBoard
     hr      
     a(href='/add-dailyLogs') Add Daily Logs
     a(href='/addleave') Add Leave Request
     hr
        
  span(flex='')
  div(layout='column')
    div.md-whiteframe-z1a(layout-padding='')
      div(layout='column')
    h1 Add Timesheet
    form.md-whiteframe-z1( name='form', novalidate='', layout-padding='')
      table(border='1px')
        thead
          tr
            th 
              a(href='#', ng-click="sortType = 'name'; sortReverse = !sortReverse") Project
              span(ng-show="sortType == 'name' && !sortReverse")
              span(ng-show="sortType == 'name' && sortReverse")
            th 
              a(href='#', ng-click="sortType = 'Timetaken'; sortReverse = !sortReverse") Time Taken
              span(ng-show="sortType == 'Timetaken' && !sortReverse")
              span(ng-show="sortType == 'Timetaken' && sortReverse")
            th
              a(href='#', ng-click="sortType = 'Description'; sortReverse = !sortReverse") Description
              span(ng-show="sortType == 'Description' && !sortReverse")
              span(ng-show="sortType == 'Description' && sortReverse")
            
            th Operations
                
          tr
            td
              md-select(ng-model='newDailyLog.name', placeholder='Project Title')
               md-option(ng-value='project.name', ng-repeat='project in projects',ng-click="set(project.name)") {{ project.name }}
            td
              md-input-container
                input(ng-model='newDailyLog.Timetaken',placeholder='hrs',type='number')
                label hrs
            td
              md-input-container
                textarea(ng-model='newDailyLog.Description', placeholder='')
                label Task
            td
              button(ng-click='addRow()') Add New Row
          tr(ng-repeat="time in Times")
            td
              md-select(ng-model='time.name', placeholder='Project Title')
                md-option(ng-value='project.name', ng-repeat='project in projects',ng-click="set(project.name)") {{ project.name }}
             
            td
              md-input-container
                input(ng-model='time.Timetaken', placeholder='',type='number')
                label hrs
      
              
            td
              md-input-container
                textarea(ng-model='time.description', placeholder='')
                label Task
              
            td
              button(ng-click='Times.splice($index, 1)') Remove

      button(ng-click='save()', style='float:right;') Save
  span(flex='')