.admin-list(layout='row')
  span(flex='')
  div(layout='column')
    h1 Admin
    form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='')
      p Add a admin
      md-input-container
        label Name
        input(ng-model='newAdmin.name', placeholder='Name')
      input.md-button(type='submit', value='Add')
    div(layout='row', layout-padding='')
      md-input-container(flex='65')
        label Search
        input(type='search', ng-model='search', placeholder='Search')
      md-select(ng-model='orderProperty', flex='35')
        md-option(value='1') Ascending
        md-option(value='-1') Descending

    ul
      li(dir-paginate='admin in admin | itemsPerPage: perPage', total-items='adminCount.count',  current-page='page')
        p 
          a(href='/admin/{{admin._id}}') {{ admin.name }}
          button(ng-click='remove(admin)') &times;
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p Total number of admin: {{adminCount.count}}
  span(flex='')