.social-buttons
    display flex
    justify-content space-around
    flex-flow row wrap
    width 100%
    margin 0
    span
      display none
.social-icon
  > .mdl-js-button
    //display flex
    display block
    text-align left
    width 48px
    height 48px
    padding 0
    border-radius 3px
    transition background td
    .fa
      color #fff
      font-size 2rem
      width 100%
      line-height 48px
      text-align center
      margin 0
.social-fb button
  btn-background(#3b5998)
.social-tw button
  btn-background(#00aced)
.social-li button
  btn-background(#007bb6)
.social-gp button
  btn-background(#dd4b39)